<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">TZC送水平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/shop">首页</a></li>
            <li class="layui-nav-item"><a href="/order">我的订单</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="layui-this">我的地址</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="https://ziyangimg.oss-cn-beijing.aliyuncs.com/default_head.jpeg" class="layui-nav-img">
                    <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username }"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出</a></li>
        </ul>
    </div>
    <div class="layui-body">

    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    layui.use(['layer', 'form', 'jquery'], function () {
        var layer = layui.layer
            , form = layui.form
            , $ = layui.jquery;

    });
</script>
</body>
</html>